/*Variables*/
:root {
  --basic-red: #ee3643;
  --basic-dark-red: #ba2732;
  --basic-red-light: #ff5357;
  --basic-green: #63a63e;
  --basic-green-light: #5fbb2d;
  --basic-dark-green: #518534;
  --basic-greeny: #8ed78f;
  --basic-orange: #ffc047;
  --basic-orange-light: #ffbf47;
  --basic-extra-dark-blue: #293449;
  --basic-dark-blue: #32425c;
  --basic-blue: #3bbce3;
  --basic-black: #000000;
  --basic-extra-black: #161d29;
  --basic-grey-white: #f3f7f9;
  --basic-creamy: #f9f5f0;
  --basic-rich-creamy: #f7f3ec;
  --basic-white-blue: #f1f5f7;
  --basic-white: #ffffff;
  --basic-yellow: #ffd180;
  --basic-gray-light: #e5e5e5;
  --basic-gray: #c5c5c5;
  --basic-dark-gray: #b5b5b5;
  --basic-gray-border: #eaeaea;
  --basic-gray-price: #a9a9a9;
  --basic-violet: #dc91d8;
}
/*Global*/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 940px;
  margin: 0 auto;
}
/*header-navigation*/
.main-header-logo {
  background-color: var(--basic-red);
  padding-left: 55px;
  padding-right: 57px;
  padding-top: 12px;
  padding-bottom: 17px;
}
.user-nav {
  font-family: "Cuprum", Arial, sans-serif;
  text-align: start;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-extra-dark-blue);
}
a.green {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-green);
  border: none;
}
a.green:hover,
a.green:focus {
  background-color: var(--basic-green-light);
}
a.green:active {
  background-color: var(--basic-green);
  opacity: 0.7;
}
a.technomart-logo {
  padding-top: 12px;
  padding-bottom: 17px;
  padding-left: 55px;
  padding-right: 57px;
  background-color: var(--basic-red);
}
a.technomart-logo:active {
  background-color: var(--basic-dark-red);
}
a.footer-technomart-logo {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 41px;
  padding-right: 41px;
  background-color: var(--basic-red);
}
a.footer-technomart-logo:active {
  background-color: var(--basic-dark-red);
}
.search input[type="text"]::placeholder {
  font: inherit;
  color: var(--basic-white);
}
.search input[type="text"] {
  font: inherit;
  color: var(--basic-black);
  border: none;
  background-color: var(--basic-extra-dark-blue);
}
a.link-bookmarks,
a.link-cart {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}
.link-bookmarks:hover,
.link-bookmarks:focus {
  background-color: var(--basic-dark-blue);
}
.link-bookmarks:active {
  background-color: var(--basic-extra-black);
  opacity: 0.5;
}
.link-cart:hover,
.link-cart:focus {
  background-color: var(--basic-extra-dark-blue);
}
.link-cart:active {
  background-color: var(--basic-extra-black);
  opacity: 0.5;
}
.header-cite-nav {
  background-color: var(--basic-grey-white);
  background-position: center;
  background-repeat: no-repeat;
}
.navigation-container {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  background-position: center, 0, 0;
  background-repeat: no-repeat;
  list-style: none;
}
.navigation-container li a {
  color: var(--basic-white);
}
/*menu*/
.menu,
.user-lk {
  list-style: none;
}
a.head-menu:hover,
a.head-menu:focus {
  background-color: #293449;
}
a.head-menu:active {
  background-color: #1d2739;
  opacity: 0.7;
}
a.foot-menu:hover,
a.foot-menu:focus,
a.yellow-link:hover,
a.yellow-link:focus {
  text-decoration: underline;
}
a.foot-menu:active,
a.yellow-link:active {
  opacity: 0.3;
  text-decoration: none;
}
a.yellow-developer:hover,
a.yellow-developer:focus,
a.yellow-mail:hover,
a.yellow-mail:focus {
  text-decoration: underline;
}
a.yellow-developer:active,
a.yellow-mail:active {
  text-decoration: none;
  color: var(--basic-red);
}
a.click-dark-red:active {
  background-color: var(--basic-dark-red);
}
/*/menu*/
p.phone .red {
  color: var(--basic-red);
}
p.about-shop .red {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: var(--basic-red);
}
p.phone {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  padding-left: 74px;
  padding-right: 45px;
  padding-top: 7px;
  padding-bottom: 8px;
  border: solid var(--basic-white);
}
.header-adress {
  color: var(--basic-dark-blue);
}
li.log-in a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  padding: 12px;
}
li.registration a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  padding: 12px;
}
a.log-in-link:hover,
a.log-in-link:focus,
a.registration-link:hover,
a.registration-link:focus,
a.my-orders:hover,
a.my-orders:focus,
a.my-lk:hover,
a.my-lk:focus {
  color: var(--basic-red);
}
a.username:active,
a.log-in-link:active,
a.registration-link:active,
a.my-orders:active,
a.my-lk:active {
  color: var(--basic-gray);
}
/*/header-navigation*/
/*main*/
/*main-grid-slider*/
/*Пока что поставил на кнопки-ссылки фоновый цвет, чтобы выделялись, по макету они прозрачные, это видимо декоративные волшебные штуки*/
.materials {
  background-color: var(--basic-orange-light);
}
.materials h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  vertical-align: middle;
  color: var(--basic-white);
}
.materials a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-yellow);
}
.tool {
  background-color: var(--basic-blue);
}
.tool h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  vertical-align: middle;
  color: var(--basic-white);
}
.tool a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
}
.vehicle {
  background-color: var(--basic-violet);
}
.vehicle h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  vertical-align: middle;
  color: var(--basic-white);
}
.vehicle a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-gray);
}
.sale-50 {
  background-color: var(--basic-greeny);
}
.sale-50 h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  vertical-align: middle;
  color: var(--basic-white);
}
.sale-50 a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-green-light);
}
.delivery {
  background-color: var(--basic-orange);
}
.delivery h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  vertical-align: middle;
  color: var(--basic-white);
}
.delivery a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-orange-light);
}
/*slider*/
/*не забыть поменять цвет на белый, как будет готов слайдер*/
.slider h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.slider p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.go-to-catalog {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
/*Popular*/
div.popular,
div.popular-labels {
  background-color: var(--basic-creamy);
}
.dark-blue-h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
}
a.link-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  list-style: 18px;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}
/*labels-list*/
ul.labels-list {
  list-style: none;
}
/*для ховеров нужна лекция по декоративным элементам, при наведении и клике есть тень*/
/*services-section*/
.services-section {
  background-color: var(--basic-white-blue);
}
.services h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.services p {
  font: inherit;
  font-size: 13px;
  line-height: 24px;
}
.service-slider ul {
  list-style: none;
}
.delivery-button,
.guarantee-button,
.credit-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  border: none;
}
.delivery-button:hover,
.delivery-button:focus,
.guarantee-button:hover,
.guarantee-button:focus,
.credit-button:hover,
.credit-button:focus {
  background-color: var(--basic-extra-dark-blue);
}
.delivery-slide h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
}
.delivery-slide p,
.guarantee-slide p,
.credit-slide p {
  font: inherit;
  font-size: 13px;
  line-height: 24px;
}
.guarantee-slide h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
}
.credit-slide h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
}
a.send {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-red-light);
}
/*about*/
section.about {
  font-size: 13px;
  line-height: 24px;
}
ul.delivery-services {
  list-style: url(../img/ul-delivery-style.png);
  list-style-position: inherit;
}
ul.delivery-services a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}
.about-us {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  width: 220px;
  padding-left: 39px;
  padding-right: 40px;
  padding-top: 11px;
  padding-bottom: 9px;
}
.about-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.description {
  font-size: 13px;
  line-height: 24px;
}
/*/about*/
/*footer*/
.footer-navigation {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-dark-blue);
}
.footer-contacts {
  color: var(--basic-white);
}
ul.footer-nav {
  list-style: none;
  text-align: left;
  width: auto;
  vertical-align: top;
}
ul.footer-nav a {
  color: var(--basic-white);
}
ul.yellow-nav {
  list-style: none;
  text-align: left;
  width: auto;
  vertical-align: top;
}
a.yellow-link {
  color: var(--basic-yellow);
}
a.yellow-developer,
a.yellow-mail {
  color: var(--basic-yellow);
}
.footer-info {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-extra-dark-blue);
}
/*social*/
ul.social-links {
  list-style: none;
}
ul.social-links a {
  color: var(--basic-white);
}
/*Как сделать только картинки вместо текста, не понял еще*/
a.social-vk:hover,
a.social-vk:focus,
a.social-vk:active,
a.social-fb:hover,
a.social-fb:focus,
a.social-fb:active,
a.social-insta:hover,
a.social-insta:focus,
a.social-insta:active {
  color: var(--basic-red);
}
/*/social*/
/*/footer*/
/*catalog head*/
div.lk {
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  vertical-align: middle;
  padding: 12px;
}
a.username {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  width: auto;
  color: var(--basic-black);
}
div.order-list-lk a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-dark-blue);
}
/* Breadcrumbs */
.breadcrumbs {
  list-style: url(../img/icon-right-small.svg);
}

.breadcrumbs a {
  color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: var(--basic-dark);
}
h2.catalog-section {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
  width: auto;
  background-color: var(--basic-white-blue);
  padding: 30px;
}
/*filter*/
p.filter {
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-rich-creamy);
}
div.sorting p {
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-rich-creamy);
}
.sort-button {
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  background: none;
  border: none;
  opacity: 0.5;
}
.sort-button:hover,
.sort-button:focus {
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
}
.sort-button:active {
  text-decoration: none;
  color: var(--basic-red);
}
.price-range {
  font: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
}
.filter-form legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.filter-form ul {
  list-style: none;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-input-checkbox:hover,
.filter-input-checkbox:focus {
  color: var(--basic-dark-gray);
}
button.show-filter {
  font: 13px inherit;
  color: var(--basic-black);
  line-height: 18px;
  text-align: center;
  width: auto;
  background-color: var(--basic-white);
  border: solid;
  border-color: #e5e5e5;
}
/*catalog*/
.catalog-list {
  list-style: none;
}
.catalog-item {
  background-color: var(--basic-white);
  border: solid var(--basic-gray-border);
}
.catalog-item h3,
.catalog-item-flipside h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
}
p.item-price {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-gray-price);
}
p.sale-item-price {
  font: 17px "PT Sans" bold;
  line-height: 18px;
  color: var(--basic-white);
  width: auto;
  text-align: center;
  padding-left: 32px;
  padding-right: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url(../img/bg-price.png);
  background-repeat: no-repeat;
  background-position: center;
}
ul.catalog-list li.catalog-item {
  text-align: center;
}
.catalog-item-flipside {
  background-color: var(--basic-white);
  border: solid var(--basic-gray-border);
}
div.flipside {
  text-align: center;
}
a.buy {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  padding-left: 25px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--basic-green);
  background-position: center;
  border-radius: 3px;
}
a.buy:hover,
a.buy:focus {
  background-color: var(--basic-green-light);
}
a.buy:active {
  background-color: var(--basic-dark-green);
}
/*не смог разобраться, почему разный размер в итоге на странице*/
a.to-bookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  color: var(--basic-dark-blue);
  text-align: center;
  vertical-align: middle;
  width: auto;
  padding-left: 33px;
  padding-right: 34px;
  padding-top: 11px;
  padding-bottom: 9px;
  background-color: var(--basic-white);
  background-position: center;
  border: solid;
  border-color: var(--basic-green);
  border-radius: 3px;
  border-width: 4px;
}
a.to-bookmarks:hover,
a.to-bookmarks:focus {
  border-color: var(--basic-dark-blue);
}
a.to-bookmarks:active {
  opacity: 0.3;
}
.catalog-list-buttons button {
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background: none;
  border: 1px solid var(--basic-gray-light);
  border-radius: 2px;
}
.catalog-list-buttons button:hover,
.catalog-list-buttons button:focus {
  border-color: var(--basic-gray);
}
.catalog-list-buttons button:active {
  border-color: var(--basic-red);
}
div.about-items {
  background-color: var(--basic-white-blue);
}
.about-items h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  vertical-align: top;
  text-transform: uppercase;
}
.about-items p {
  font: inherit;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
}
.visually-hidden {
  display: none;
}
