/*Variables*/
:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-green-light: #5fbb2d;
  --basic-extra-dark-blue: #293449;
  --basic-dark-blue: #32425c;
  --basic-black: #000000;
  --basic-extra-black: #161d29;
  --basic-grey-white: #f3f7f9;
  --basic-creamy: #f9f5f0;
  --basic-white-blue: #f1f5f7;
  --basic-white: #ffffff;
  --basic-yellow: #ffd180;
  --basic-gray: #c5c5c5;
  --basic-dark-gray: #b5b5b5;
  --basic-gray-border: #eaeaea;
  --basic-gray-price: #a9a9a9;
}
/*Global*/
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: PT Sans, Cuprum;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
}
a {
  text-decoration: none;
  color: var(--basic-white);
}
img {
  max-width: 100%;
  height: auto;
}
/*header-navigation*/
.main-header-logo {
  background-color: var(--basic-red);
  padding-left: 55px;
  padding-right: 57px;
  padding-top: 12px;
  padding-bottom: 17px;
}
.user-nav {
  font: Cuprum;
  text-align: start;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-extra-dark-blue);
}
button.green {
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-green);
  border: none;
}
button.green:hover,
button.green:focus {
  background-color: var(--basic-green-light);
}
button.green:active {
  background-color: var(--basic-green);
  opacity: 0.7;
}
a.technomart-logo:active {
  opacity: 0.6;
}
.search {
  font: inherit;
  line-height: middle;
  color: var(--basic-white);
}
.search input[type="text"] {
  font: inherit;
  color: var(--basic-black);
  border: none;
  background-color: var(--basic-extra-dark-blue);
}
.button-search {
  content: url(../img/icon-search.svg);
}
.link-bookmarks:hover,
.link-bookmarks:focus {
  background-color: var(--basic-dark-blue);
}
.link-bookmarks:active {
  background-color: var(--basic-extra-black);
  opacity: 0.5;
}
.link-cart:hover,
.link-cart:focus {
  background-color: var(--basic-extra-dark-blue);
}
.link-cart:active {
  background-color: var(--basic-extra-black);
  opacity: 0.5;
}
.header-cite-nav {
  background-color: var(--basic-grey-white);
  background-position: center;
  background-repeat: no-repeat;
}
.navigation-container {
  font: Cuprum;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
  background-position: center, 0, 0;
  background-repeat: no-repeat;
  list-style: none;
}
/*icons*/
a.link-bookmarks::before {
  content: url(../img/icon-bookmark.svg);
}
a.link-cart::before {
  content: url(../img/icon-cart.svg);
}
.search::before {
  content: url(../img/icon-search.svg);
}
p.phone::before {
  content: url(../img/icon-phone.svg);
}
li.log-in a::before {
  content: url(../img/icon-login.svg);
}
/*/icons*/
.navigation-container li a {
  color: var(--basic-white);
}
/*menu*/
.menu,
.user-lk {
  list-style: none;
}
a.head-menu:hover,
a.head-menu:focus {
  background-color:#293449 ;
}
a.head-menu:active {
  background-color: #1d2739 ;
  opacity: 0.7;
}
a.foot-menu:hover,
a.foot-menu:focus,
a.yellow-link:hover,
a.yellow-link:focus {
  text-decoration: underline;
}
a.foot-menu:active,
a.yellow-link:active {
  opacity: 0.3;
  text-decoration: none;
}
a.yellow-developer:hover,
a.yellow-developer:focus,
a.yellow-mail:hover,
a.yellow-mail:focus {
  text-decoration: underline;
}
a.yellow-developer:active,
a.yellow-mail:active {
  text-decoration: none;
  color: var(--basic-red);
}

/*/menu*/
p.phone .red {
  color: var(--basic-red);
}
p.about-shop .red {
  font: 16px, Cuprum, italic;
  line-height: 23px;
  color: var(--basic-red);
}
p.phone {
  font: 21px, Cuprum;
  line-height: 30px;
  font-weight: bold;
  padding-left: 74px;
  padding-right: 45px;
  padding-top: 7px;
  padding-bottom: 8px;
  border: solid var(--basic-white);
}
.header-adress {
  color: var(--basic-dark-blue);
}
li.log-in a {
  font: 21px, Cuprum;
  color: var(--basic-black);
  background-color: var(--basic-white);
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  padding: 12px;
}
li.registration a {
  font: 21px, Cuprum;
  color: var(--basic-black);
  background-color: var(--basic-white);
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  padding: 12px;
}

a.log-in-link:hover,
a.log-in-link:focus,
a.registration-link:hover,
a.registration-link:focus {
  color: var(--basic-red);
}
a.my-orders:hover,
a.my-orders:focus,
a.my-lk:hover,
a.my-lk:focus {
  color: var(--basic-red) ;
}
/*/header-navigation*/
/*about*/
section.about {
  font: 13px, PT sans;
  line-height: 24px;
}
ul.delivery-services {
  list-style: url(../img/ul-delivery-style.png);
  list-style-position: inherit;
}
ul.delivery-services a {
  font: 18px,Cuprum;
  line-height: 24px;
  color: var(--basic-black);
}
.about-us {
  font: 14px, Cuprum;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  width: 220px;
  padding-left: 39px;
  padding-right: 40px;
  padding-top: 11px;
  padding-bottom: 9px;
  border: 2px solid;
  box-sizing: border-box;
}
.about-header {
  font: 30px, Cuprum;
  line-height: 30px;
  text-transform: uppercase;
}
.description {
  font: 13px,PT Sans;
  line-height: 24px;
}
/*/about*/
/*footer*/
.footer-navigation {
  font: 18px, Cuprum;
  line-height: 24px;
  background-color: var(--basic-dark-blue);
}
.footer-contacts {
  color: var(--basic-white);
}
ul.footer-nav {
  list-style: none;
  text-align: left;
  width: auto;
  vertical-align: top;
}
ul.yellow-nav {
  list-style: none;
  text-align: left;
  width: auto;
  vertical-align: top;
}
a.yellow-link {
  color: var(--basic-yellow);
}
a.yellow-developer,
a.yellow-mail {
  color: var(--basic-yellow);
}
.footer-info {
  font: 16px, Cuprum;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-extra-dark-blue);
}
/*social*/
ul.social-links {
  list-style: none;
}
a.social-vk::before {
  content: url(../img/icon-vk.svg);
}
a.social-fb::before {
  content: url(../img/icon-fb.svg);
}
a.social-insta::before {
  content: url(../img/icon-insta.svg);
}
/*Как сделать только картинки вместо текста, не понял еще*/
a.social-vk:hover,
a.social-vk:focus,
a.social-vk:active,
a.social-fb:hover,
a.social-fb:focus,
a.social-fb:active,
a.social-insta:hover,
a.social-insta:focus,
a.social-insta:active {
  color: var(--basic-red);
}
/*/social*/
/*/footer*/
/*catalog head*/
div.lk {
  background-color: var(--basic-white);
  vertical-align: middle;
  padding: 12px;
}
a.username {
  font: 21px, Cuprum;
  line-height: 21px;
  text-align: center;
  width: auto;
  color: var(--basic-black);
}
a.username::before {
  content: url(../img/icon-user.svg);
}
a.username::after {
  content: url(../img/icon-logout.svg);
}
div.order-list-lk a {
  color: var(--basic-black);
}
/* Breadcrumbs */
.breadcrumbs {
  list-style: url(../img/icon-right-small.svg);
}

.breadcrumbs a {
  color: var(--basic-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: var(--basic-dark);
}
h2.catalog-section {
  font: 30px, Cuprum;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
  width: auto;
  background-color: var(--basic-white-blue);
  padding: 30px;
}
/*filter*/
.filter legend {
  font-size: 17px, PT Sans;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.filter ul {
  list-style: none;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-input-checkbox:hover,
.filter-input-checkbox:focus {
  color: var(--basic-dark-gray));
}
button.show-filter {
  font: 13px, PT Sans;
  color: var(--basic-black);
  line-height: 18px;
  text-align: center;
  width: auto;
  background-color: var(--basic-white);
  border: solid;
  border-color: #e5e5e5;
}
/*catalog*/
.catalog-list {
  list-style: none;
}
.catalog-item {
  background-color: var(--basic-white);
  border: solid var(--basic-gray-border);
}
.catalog-item h3,
.catalog-item-flipside h3 {
  font: 18px, PT Sans;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);
}
p.item-price {
  font: 17px, PT Sans;
  line-height: 18px;
  text-align: center;
  color: var(--basic-gray-price);
}
p.sale-item-price {
  font: 17px, PT Sans, bold;
  line-height: 18px;
  color: var(--basic-white);
  width: auto;
  text-align: center;
  padding-left: 32px;
  padding-right: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url(../img/bg-price.png);
  background-repeat: no-repeat;
  background-position: center;
}
ul.catalog-list li.catalog-item {
  text-align: center;
}
.catalog-item-flipside {
  background-color: var(--basic-white);
  border: solid var(--basic-gray-border);
}
div.flipside {
  text-align: center;
}
a.buy {
  font: 14px, Cuprum;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  padding-left: 25px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--basic-green);
  background-position: center;
  border-radius: 3px;
}
/*не смог разобраться, почему разный размер в итоге на странице*/
a.to-bookmarks {
  font: 14px, Cuprum;
  color: var(--basic-dark-blue);
  text-align: center;
  vertical-align: middle;
  width: auto;
  padding-left: 33px;
  padding-right: 34px;
  padding-top: 11px;
  padding-bottom: 9px;
  background-color: var(--basic-white);
  background-position: center;
  border: solid;
  border-color: var(--basic-green);
  border-radius: 3px;
  border-width: 4px;
}